
$snowtop-img: url('/images/snow.svg');
$snowflakes-img: url("/images/snowflakes.svg");

@mixin snow($height) {
  position: relative;
  &::after {
    opacity: 0.8;
    background: $snowtop-img repeat-x;
    //background-color: blue;
    background-size: auto $height;
    background-position: random(100)+17px 0;
    width: 100%;
    height: $height;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    content: '';
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    pointer-events: none;
  }
}

.header { @include snow(5em); }
//.header-img { @include snow(10px); }
.nav li a { @include snow(9px); }
.next-meeting { @include snow(20px); }
.book { @include snow(20px); }
h1.books { @include snow(30px); }
.prevbooks, .prevshorts, .prevfilms { @include snow(15px); }
.blog { @include snow(20px); }
.footer { @include snow(20px); }
.header .logo { @include snow(25px); }

body {
  &::after {
    background-image: $snowflakes-img, $header-img;
    background-size: 100px 100px, cover;
  }
}
