<ul>
  <li>title: {{book.title}}</li>
  <li>author:
    {% if book.author %}
    {{ book.author }}
    {% else %}
    unset
    {% endif %}
  </li>
  <li>slug: {{ book.slug }}</li>
  <li>image-source:
    {% if book.image-source %}
    {% assign imgurlsplit = book.image-source | split: "/" %}
    <a href="{{ book.image-source }}" target="_blank">{{ imgurlsplit[2] }}</a>
    {% else %}
    unset
    {% endif %}
  </li>
  <li>downloaded image:<br/><img src="{{ book.img-url }}"/></li>
</ul>

<h3>Affiliate links</h3>
<ul class="affiliate-links">
  {% for link in book.store-links %}
  <li>{{link.class}}: <a class="{{ link.class }}" href="{{ link.url }}">{{ link.name }}</a></li>
  {% endfor %}
</ul>

<h3>Info links</h3>
<ul class="info-links">
  {% for link in book.info-links %}
  <li>{{link.class}}: <a class="{{ link.class }}" href="{{ link.url }}">{{ link.name }}</a></li>
  {% endfor %}
</ul>
