  <header>
    {% if extra_heading %}<h1>{{ extra_heading }}</h1>{% endif %}
    <h2>{{ book.title }}</h2>
    {% if book.author %}
    <p>by {{ book.author }}</p>
    {% endif %}
  </header>
  <div class="bookimg">
    <img src="{{ book.img-url }}" alt="{{ book.title }}"/>
  </div>

  <ul class="affiliate-links">
  {% for link in book.store-links %}
    <li><a class="{{ link.class }}" href="{{ link.url }}">{{ link.name }}</a></li>
  {% endfor %}
  </ul>

  {% for link in book.info-links %}
  <a class="{{ link.class }}" href="{{ link.url }}">{{ link.name }}</a>
  {% endfor %}

  <p class="meeting">{{ book.meeting_for }}</p>
