  <header>
    {% if extra_heading %}<h1>{{ extra_heading }}</h1>{% endif %}
    <h2>{{ book.title }}</h2>
    {% if book.author %}
    <p>by {{ book.author }}</p>
    {% endif %}
  </header>
  <div class="bookimg">
    <img src="{{ book.img-url }}"/>
  </div>

  <ul class="affiliate-links">
  {% for link in book.store-links %}
    <li><a class="{{ link.class }}" href="{{ link.url }}">{{ link.name }}</a></li>
  {% endfor %}
  </ul>

  {% if book.isfdb %}
  <a class="isfdb" href="http://www.isfdb.org/cgi-bin/title.cgi?{{ book.isfdb }}">ISFDB</a>
  {% endif %}
  {% if book.goodreads %}
  <a class="goodreads" href="http://www.goodreads.com/book/show/{{ book.goodreads }}">GoodReads</a>
  {% endif %}
  {% if book.imdb %}
  <a class="imdb" href="http://www.imdb.com/title/{{ book.imdb }}">IMDB</a>
  {% endif %}
  <p class="meeting">{{ book.meeting_for }}</p>
