<div class="meeting">
  <div class="next-meeting">
    <h1>{{ meeting.name }}</h1>
    {% if meeting.name == site.next_meeting %}
    <p><strong>Next Meeting</strong></p>
    {% endif %}
    <ul>
      <li>date: {{ meeting.date | date: '%I:%M %p on %A %B %d, %Y' }}</li>
      <li>where: {% if meeting.where %}
        {{ meeting.where }}
        {% else %}
        unset
        {% endif %}
      </li>
      <li>facebook event:
        {% if meeting.facebook %}
        <a href="https://www.facebook.com/events/{{ meeting.facebook.event_id}}/">
          {{ meeting.facebook.event_id }}
        </a>
        {% else %}
        unset
        {% endif %}
      </li>
    </ul>
  </div>

  <div class="books">
    <section class="book">
      <h2>Book</h2>
      {% if meeting.book %}
      {% assign book = meeting.book %}
      {% include book.html %}
      {% endif %}
    </section>

    <section class="book">
      <h2>Short</h2>
      {% if meeting.short %}
      {% assign book = meeting.short %}
      {% include book.html %}
      {% endif %}
    </section>

    <section class="book">
      <h2>Film</h2>
      {% if meeting.film %}
      {% assign book = meeting.film %}
      {% include book.html %}
      {% endif %}
    </section>
  </div>
</div>
